roll,
ul {
	margin: 0;
	padding: 0;
}

roll,
ul li {
	list-style: none;
}

.roll-wrap:hover .control {
	display: block;
}

.roll-wrap {
	position: relative;
	height: auto;
	overflow: hidden;
}

.roll-wrap .roll_list {}

.roll_row .roll_list::before,
.roll_row .roll_list::after {
	content: "";
	display: table;
	line-height: 0;
}

.roll_row .roll_list::after {
	clear: both;
}

.roll_col {
	width: 90%;
	height: 80%;
	overflow: hidden;
}

.roll_col .roll_list {
	width: 100%;
	height: 100%;
}

.roll_col li {
	display: block;
	height: auto;
	line-height: auto;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	word-break: break-all;
	word-wrap: break-word;
}
.roll_col li hr{
	margin-top: 0px; 
	margin-bottom: 8px;
}