<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>xh_f7_mep</display-name>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- 	 <error-page>  
        <error-code>404</error-code>  
        <location>/warn/view/fixError.jsp</location>  
    </error-page>   -->
	<listener>
		<display-name>SchedulingJobsListener</display-name>
		<listener-class>com.xinhai.listener.SchedulingJobsListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>userController</servlet-name>
		<servlet-class>com.xinhai.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userController</servlet-name>
		<url-pattern>/warn/userManage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>taskController</servlet-name>
		<servlet-class>com.xinhai.controller.TaskController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>taskController</servlet-name>
		<url-pattern>/warn/taskManage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pushRuleController</servlet-name>
		<servlet-class>com.xinhai.controller.PushRuleController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushRuleController</servlet-name>
		<url-pattern>/warn/prManage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eventController</servlet-name>
		<servlet-class>com.xinhai.controller.EventController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventController</servlet-name>
		<url-pattern>/warn/warningManage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mouldController</servlet-name>
		<servlet-class>com.xinhai.controller.MouldController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mouldController</servlet-name>
		<url-pattern>/warn/mouldManage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>panelController</servlet-name>
		<servlet-class>com.xinhai.controller.PanelController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>panelController</servlet-name>
		<url-pattern>/panel/panelManage</url-pattern>
	</servlet-mapping>
	
</web-app>